@model IEnumerable<ShippingHelper.Core.Models.ReportedMerchant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Users.FirstName @item.Users.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a data-id="@item.Users.Email" class="btn btn-danger deleteBtn" class="btn btn-danger"><i class="fa-solid fa-octagon-xmark"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="banForm" asp-action="LockUserAsync" asp-controller="Users">
    <input type="hidden" id="banEmail" name="email" />
</form>

                @section Scripts {
    <script>
            $('.deleteBtn').click(function(e){
                swal({
                    title: "Are you sure?",
                    text: "You are about to ban the selected user! Proceed?",
                    icon: "warning",
                    buttons: true,
                    dangerMpde: true
                }).then((confirm) => {
                    if(confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#banId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
        });
    </script>
}