@model IEnumerable<ShippingHelper.Core.Models.Offers>

@{
    ViewData["Title"] = "CompletedOffer";
}

<h1>CompletedOffer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Start From
            </th>
            <th>
                Destination
            </th>
            <th>
                Price
            </th>
            <th>
                Date Posted
            </th>
            <th>
                Completed On
            </th>
            <th>
                Status
            </th>
            <th>
                Area
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAddress)
            </td>
            <td>
                @item.Price VND
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-info"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
