@model IEnumerable<ShippingHelper.Core.Models.Offers>

@{
    ViewData["Title"] = "All Offers";
}

<h1>All Offers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Start From
            </th>
            <th>
                Destination
            </th>
            <th>
                Price
            </th>
            <th>
                Date Posted
            </th>
            <th>
                Completed On
            </th>
            <th>
                Status
            </th>
            <th>
                Area
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndAddress)
                </td>
                <td>
                    @item.Price VND
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cities.Name)
                </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-info"></i></a>
                    <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"><i class="fa-solid fa-octagon-xmark"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>


<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="offerId" name="Id" />
</form>

@section Scripts {
    <script>
            $('.deleteBtn').click(function(e){
                swal({
                    title: "Are you sure?",
                    text: "Would you like to delete the selected offer listing?",
                    icon: "warning",
                    buttons: true,
                    dangerMpde: true
                }).then((confirm) => {
                    if(confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#offerId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
        });
    </script>
}