@model IEnumerable<ShippingHelper.Core.Models.Offers>

@{
    ViewData["Title"] = "Accepted Offers";
}

<h1>Accepted Offers</h1>

<p>Showing offers you have accepted only</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Start from
            </th>
            <th>
                Destination
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Posted Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAddress)
            </td>
            <td>
                @item.Price VND
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @(item.Users.FirstName + item.Users.LastName)
            </td>
        </tr>
}
    </tbody>
</table>
