@using ShippingHelper.Common.Constants;
@model ShippingHelper.Core.Models.Offers

@{
    ViewData["Title"] = "Offer Details";
}

@if (TempData["report"] is not null)
{
    <div class="alert alert-warning">
        @TempData["report"]
    </div>
}

@if (TempData["accept"] is not null)
{
    <div class="alert alert-success">
        @TempData["accept"]
    </div>
}

<h3>Offer Details</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Posted by
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Id)
        </dd>
        @if (User.IsInRole(Roles.User) && Model.Status != ShippingHelper.Core.Models.OfferStatus.Open)
        {
            <dt class="col-sm-2">
                Shipping Accepted By
            </dt>
            <dd class="col-sm-10">
                @ViewBag.FirstName @ViewBag.LastName
            </dd>
        }
    </dl>
</div>
<div>
    @*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
    @if (User.IsInRole(Roles.Shipper))
    {
        switch (Model.Status)
        {
            case ShippingHelper.Core.Models.OfferStatus.Open:
                <a asp-action="AcceptOffer" asp-route-id="@Model?.Id" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#acceptModal">Accept Offer</a>
                break;
            case ShippingHelper.Core.Models.OfferStatus.Accepted:
                <a asp-action="ChangeOfferStatus" asp-route-id="@Model?.Id" class="btn btn-info" asp-route-status="@ShippingHelper.Core.Models.OfferStatus.Delivering">Ready to Deliver</a>
                break;
            case ShippingHelper.Core.Models.OfferStatus.Delivering:
                <a asp-action="ChangeOfferStatus" asp-route-id="@Model?.Id" class="btn btn-success" asp-route-status="@ShippingHelper.Core.Models.OfferStatus.Finished">I Finished the Offer!</a>
                break;
        }
    }
    else
    {
        if (Model.Status == ShippingHelper.Core.Models.OfferStatus.Open)
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
        }
        else if (Model.Status == ShippingHelper.Core.Models.OfferStatus.Delivering)
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#reportModal">Report Merchant</a>
        }
    }
</div>

@*Accept Offer Confirmation*@
<div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="acceptModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Accept Offer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Woould you like to accept this offer?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a asp-action="AcceptOffer" asp-route-id="@Model?.Id" class="btn btn-primary">Yes! Accept the offer</a>
            </div>
        </div>
    </div>
</div>

@*Report Merchant Modal*@
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportlLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="ReportMerchant">
                    <input type="hidden" value="@ViewBag.userId" id="userId" name="userId"/>
                    <p>You are reporting @ViewBag.FirstName @ViewBag.LastName</p>
                    <div class="mb-3">
                        <label for="reason">Please tell us why you are reporting this merchant:</label>
                        <select id="reason" name="reason" class="form-select" required>
                            <option value="" hidden selected>Please select an opption..</option>
                            <option value="1">Did not deliver item</option>
                            <option value="2">Missing or broken packages</option>
                            <option value="3">Bad behaviour</option>
                            <option value="4">Other...</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="note">Please give us some details why you are reporting this merchant?</label>
                        <textarea id="note" name="note" rows="2"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit Report</button>
                </form>
            </div>
        </div>
    </div>
</div>