@model IEnumerable<ShippingHelper.Core.Models.Offers>

@{
    ViewData["Title"] = "Your Posted Offers";
}

@if (TempData["profile"] is not null)
{
    <div class"alert alert-success">
        @TempData["profile"]
    </div>
}

<h3>@ViewData["Title"]</h3>
<p>Showing all your posted offers</p>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> New Offer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if(item.Status == ShippingHelper.Core.Models.OfferStatus.Open)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
